html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(176, 186, 197);
}

img {
    display: block;
    margin: 0 auto;
  }
  
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #1a3146;
    text-shadow: 3px 3px 1px black;
  }
  
p, li {
    font-size: 16px;
    text-align: center;    
    line-height: 2;
    letter-spacing: 1px;
  }